---
layout: default
---

{% if page.title %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1> {{page.title}} <h1>

    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </div>
{% endif %}




<div class="posts">
    {% for lecture in site.lectures %}
    <div class="post-teaser">
      {% if lecture.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ lecture.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ lecture.url | prepend: site.baseurl }}">
                {{ lecture.title }}
              </a>
            </h1>
            <p class="meta">
              {{ lecture.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ lecture.excerpt | strip_html | escape }}
            <!--{{ lecture.content | strip_html | truncate: "250" }}-->
            <!--<a class="button" href="{{ lecture.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div> 
    {% endfor %}
  </div>